[Unit]
Description=Daily Wiren Board configuration backup

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true
Unit=wb-backup@config.service

[Install]
WantedBy=timers.target
